{% load staticfiles %}
{% if debug %}
<script src="{% static "hot_libs/js/lodash.js" %}"></script>
{% else %}
<script src="{% static "hot_libs/js/lodash.min.js" %}"></script>
{% endif %}
<script src="{% static "hot_libs/js/jquery.handsontable.full.js" %}"></script>
<script src="{% static "hot_libs/js/numeral.min.js" %}"></script>
<script src="{% static "hot_libs/js/languages.min.js" %}"></script>
<script src="{% static "hot/js/hot-plugins.js" %}"></script>
<script src="{% static "hot/js/table.js" %}?"></script>
<script src="{% static "hot/js/handsontable_display.js" %}?"></script>