{% extends "hot/base.html" %}

{% block title %}Login{% endblock title %}

{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "hot/css/login_styles.css" %}?">
{% endblock extra_css %}

{% block body %}
<div class="container">
	<div class='msgs'>
		{% if success %}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{% for s in success %} <p> {{s}} </p> {% endfor %}
		</div>
		{% endif %}
		
		{% if errors %}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{% for error in errors %} <p> {{error}} </p> {% endfor %}
		</div>
		{% endif %}
	</div>
	
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Login</h2>
		{% csrf_token %}
		<div class="reset-password">
			<a href="{% url "password_reset_recover" %}">Reset Password</a>
		</div>
		{% load bootstrap %}
		{{ form|bootstrap }}
	    <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
	</form>
</div> <!-- /container -->
{% endblock %}