<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<title>{{title}}</title>
		{% load staticfiles %}
		<link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
		{% if debug %}
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
		<link rel="stylesheet" href="{% static "sk_style.css" %}?">
		{% else %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" href="{% static "sk_style.css" %}">
		{% endif %}
		{% block extra_css %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% if debug %}
		<script src="{% static "js/lib/jquery-1.10.2.js" %}"></script>
		<script src="{% static "js/lib/bootstrap.js" %}"></script>
		<script src="{% static "js/lib/bootbox.js" %}"></script>
		<script src="{% static "js/general.js" %}?"></script>
		{% else %}
		<script src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
		<script src="{% static "js/lib/bootstrap.min.js" %}"></script>
		<script src="{% static "js/lib/bootbox.min.js" %}"></script>
		<script src="{% static "js/general.js" %}"></script>
		{% endif %}
		{% block extra_js %}{% endblock %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="{% static "js/lib/html5shiv.js" %}"></script>
		  <script src="{% static "js/lib/respond.min.js" %}"></script>
		<![endif]-->
	</body>
</html>