{% extends base_template %}

{% block content %}
	{% for group in status_groups %}
		{% if group.title %}<strong>{{group.title}}</strong>{% endif %}
		<dl class="dl-horizontal item-display">
			{% for item in group.fields %}
		    	<dt>{{item.name}}</dt>
				<dd>{{item.state|safe}}</dd>
			{% endfor %}
		</dl>
	{% endfor %}
	{% if tables_below %}
	{% load render_table from django_tables2 %}
	{% for table in tables_below %}
	<h3>{{table.title}}</h3>
	{% render_table table.renderable %}
	{% endfor %}
	{% endif %}
{% endblock %}