{% extends "sk_menu_page.html" %}

{% block maincol_content %}
	<div class="row">
		{% for group in status_groups %}
			<h4>{{group.title}}</h4>
			{% for item in group.fields %}
			<div class="col-md-6 field-display">
				<div class="panel panel-default">
			        <div class="panel-heading">{{item.name}}</div>
			        <div class="panel-body">
						{{item.state|safe}}
			        </div>
			    </div>
		    </div>
			{% endfor %}
		{% endfor %}
	</div>
	{% if tables_below %}
	{% load render_table from django_tables2 %}
	{% for table in tables_below %}
	<h3>{{table.title}}</h3>
	{% render_table table.renderable %}
	{% endfor %}
	{% endif%}
{% endblock %}