.main-container{
	background-color: white;
	padding-top: 60px;
	padding-bottom: 100px;
}

body{
	background-color: #eee;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.well {
	background-image: none;
}

.alert p{
	margin: 0px !important;
}

.field-display{
	min-height: 120px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #e0e0e0;
}

.navbar-brand.logo {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-brand.logo img {
	height: 40px;
}

.centered{
    float: none;
    margin: 0 auto;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 200px;
  }
  .dl-horizontal dd {
    margin-left: 220px;
  }
}

.form-group select[multiple] {
    height: 400px;
}

.item-display img{
	border: solid 1px black;
	max-height: 150px;
}

.filter-form label{
	display: none;
}

.detail-group {
	margin-bottom: 20px;
}

@media (max-width: 768px){
	body {
		background-color: white;
	}
	.dl-horizontal dt {
		float: left;
		width: 130px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 140px;
		min-height: 1.42em;
	}
	.item-display img {
		margin-left: -140px;
		margin-top: 20px;
		max-width: 150%;
	}
}
@media (max-width: 600px){
	.dl-horizontal {
		font-size: 90%;
	}
	.navbar-brand.logo img {
		max-width: 240px;
	}
}